@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #22254b;
  color: white;
  font-family: Poppins, san-serif;
  font-size: 12px;
  margin: 0;
}
.root {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
.search {
  background-color: white;
  border: 1px solid #22254b;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  font-size:  1rem;
  padding: .5rem 1rem;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  background-color: #373b69;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 275px;
}
.movie img {
  max-width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
}
.movie-info h3 {
  margin: 0;
}
.movie-over {
  background: rgba(0255, 255, 255, 0.8);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 800px;
  padding: 1rem;
  position: absolute;
  font-size: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}